  *{
    cursor: none;
  }
  
  body {
    min-height: 100lvh;   
  }
  
  .circle {
    --circle-size: 40px;
    position: fixed;
    z-index: 20;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid black;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
  }